md-content
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Ingredients Dashboard
				div(flex).body-dashboard-ingredient-md
					section(layout="column", layout-align="start center", layout-margin)
						md-content.body-dashboard-ingredient
							md-toolbar.md-hue-1
								form(name="searchIngredientForm" novalidate ng-submit="ingredientDashboard.searchIngredientsByName()")
									section(layout="row", layout-align="start start", layout-margin)
										div(style="max-width:200px;").hide-gt-sm
											md-input-container.flex
												label Search an Ingredient
												input(ng-model="search" name="search")
										md-input-container.flex.hide-sm
											label Search an Ingredient
											input(ng-model="search" name="search")
										ng-md-icon(type="submit" icon="search" style="cursor: pointer;" ng-click="ingredientDashboard.searchIngredientsByName()")
							md-list.ng-cloak.body-dashboard-ingredient-list
								md-list-item(ng-repeat="ingredient in ingredientDashboard.ingredients")
									p {{ ingredient.name }}
									span(ng-if="!$last")
										md-divider
