@import "../../theme.scss";

.body-dashboard-ingredient-md {
	@extend .body-create-ingredient-md;
}

.body-dashboard-ingredient {
	@extend .body-create-ingredient;
	width:100%;
}

.body-dashboard-ingredient-list {
	background : white;
}

.body-dashboard-ingredient-delete-icon-list {
	color : red;
	cursor : pointer;
}