md-content
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Ingredients Dashboard
				div(flex).body-dashboard-ingredient-md
					section(layout="column", layout-align="start center", layout-margin)
						md-content.body-dashboard-ingredient
							md-data-table-toolbar.body-dashboard-ingredient-table-toolbars
								h1.md-title Ingredients
							md-data-table-container
								table(md-data-table md-row-select="ingredientDashboard.selected_ingredients" md-progress="ingredientDashboard.deferred")
									thead(md-order="ingredientDashboard.table.order.field" md-trigger="ingredientDashboard.tableOnOrderChange")
										tr
											th(name="Name" order-by="name")
											th(name="Proteins" unit="g" order-by="proteins")
											th(name="Carbohydrates" unit="g" order-by="carbohydrates")
											th(name="Fats" unit="g" order-by="fat")
									tbody
										tr(ng-repeat="ingredient in ingredientDashboard.ingredients" style="cursor: pointer;" ng-click='ingredientDashboard.infosIngredientDialog($event, ingredient)')
											td {{ ingredient.name }}
											td {{ ingredient.proteins }}
											td {{ ingredient.carbohydrates }}
											td {{ ingredient.fat }}
							md-data-table-pagination(md-trigger="ingredientDashboard.tableOnPaginationChange" md-limit="ingredientDashboard.table.metadata.items" md-page="ingredientDashboard.table.metadata.page" md-total="{{ ingredientDashboard.table.metadata.total }}").body-dashboard-ingredient-table-toolbars

						//md-content.body-dashboard-ingredient
							md-toolbar.md-hue-1
								section(layout="row", layout-align="start start", layout-margin)
									div(style="max-width:200px;").hide-gt-sm
										form(ng-submit="ingredientDashboard.searchIngredientsByName()")
											md-input-container.flex
												label Search an Ingredient
												input(ng-model="search" name="search")
									form(ng-submit="ingredientDashboard.searchIngredientsByName()").flex.hide-sm
										md-input-container.flex
											label Search an Ingredient
											input(ng-model="search" name="search")
									ng-md-icon(type="submit" icon="search" style="cursor: pointer;" ng-click="ingredientDashboard.searchIngredientsByName()")
							md-list.ng-cloak.body-dashboard-ingredient-list
								md-list-item(ng-repeat="ingredient in ingredientDashboard.ingredients" ng-click='ingredientDashboard.infosIngredientDialog($event, ingredient)')
									span {{ ingredient.name }}
									span
										ng-md-icon(icon="highlight_remove" ng-click="ingredientDashboard.deleteIngredientDialog($event, ingredient)").md-secondary.body-dashboard-ingredient-delete-icon-list
									span(ng-if="!$last")
										md-divider
						//span(flex="5")
						div.flex
							md-button(ui-sref="main.create-ingredient").md-raised Add a new Ingredient
		include ../footer/footer.jade
