@import "../../theme.scss";

.body-dashboard-Group-md {
	@extend .body-create-group-md;
}

.body-dashboard-group {
	@extend .body-create-group;
	width:100%;
}

.body-dashboard-Group-list {
	background : white;
}

.body-dashboard-group-md-content {
	height : 100%;
	background: $background;
	md-grid-list {
		height: auto;
	}
}

.body-dashboard-Group-table-toolbars {
	background : #66bb6a;
}

.body-dashboard-group-grid-tile {
	cursor: pointer;
	background : white;
	overflow : hidden;
	max-height: 300px;
	height: auto;
	transition: all 400ms ease-out 50ms;
	&:hover {
		md-grid-tile-footer {
			transition: all 500ms ease-out 100ms;
			height : 100%;
			background : rgba(0, 0, 0, 0.66) none repeat scroll 0% 0%;
		}
	}
	md-grid-tile-footer {
		transition: all 500ms ease-out 100ms;
	}
}

.body-dashboard-group-grid-tile-footer {
	height : 25%;
	h2 {
		text-align: center;
	}
	figcaption {
		margin: 0 auto;
	}
}
