@import "../../theme";

.index-user-profile {
	background-color : $background;
}

.user-profile-head {
	width : 200px; 
	height: 300px; 
	margin: 0 auto;
}

.user-profile-head-title {
	text-align: center;
}

.user-profile-body {
	@extend .index-user-profile;
}