@import "../../theme";

.index-user-profile {
	background-color : $background;

  md-tabs md-content {
    width: 100%;
  }

}

.user-profile-head {
	width : 200px;
	height: 300px;
	margin: 0 auto;
}

.user-profile-head-title {
	text-align: center;
}

.user-profile-body {
	@extend .index-user-profile;
}

.user-profile-body-tabs md-tabs-wrapper {
	background :  $dark-headings;
}

.user-profile-body-tabs-components {
  min-height: 100%;
}

.user-profile-body-width {
    width: 100%;
}

.user-profile-body-half-width {
    width: 50%;
}

// .img-user-profile {
//     object-fit: fill;
// }

/*
md-tab-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/