md-content.index-user-profile
    div(layout="column" flex)
        md-card(flex="none").user-profile-head
            img(src="assets/images/user_dummy/random-user-1.jpg")
            md-card-content
                h2.md-title.user-profile-head-title Username
                div.user-profile-head-title
                    span 0
                    ng-md-icon(icon="star")
                    span 0
                    ng-md-icon(icon="cake")
                    span 0
                    ng-md-icon(icon="face")

        md-card(flex)
            md-tabs(flex).user-profile-body-tabs
                md-tab(label="Informations")
                    include tabs/information
                md-tab(label='Recipes').flex
                    include tabs/recipes
                md-tab(label="Groups")
                    include tabs/groups
                md-tab(label="Followers")
                    include tabs/followers
                md-tab(label="Parameters")
                    include tabs/parameters
