.recipe-container {
  background: #fefefe;
}

.recipetitle {
  font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
  font-weight: 400;
  font-size: 25px;
}


.recipe-container h2 {
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.recipe-option {
 // float: left;
 // width: 20%;
 // box-sizing: border-box;
 // padding: 0 8px;
 // display: block;
    max-width:40%;
    cursor: default;
    border-radius: 16px;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.recipe-option .md-item-text {
 padding: 8px;
 background: #f0f0f0;
 border-radius: 3px;
}
// .recipe-text{
//    box-shadow: $whiteframe-shadow-1dp;
// }
//
// .recipe-text::hover{
//   box-shadow: $whiteframe-shadow-24dp;
// }

.recipe-option .md-item-text h3, .chipsdemoCustomInputs .veggie-option .md-item-text p {
   padding: 0;
   margin: 0;
   font-family: Roboto, 'Helvetica Neue', sans-serif;
   font-size: 20px;
   font-weight: 500;
   display: block;
   font-weight: bold;
 }
 .md-item-text p {
   display: inline-block;
   padding: 0;
   margin: 0;
 }

 // .grid-recipe {
 //    object-fit: none; /* Do not scale the image */
 //    object-position: center; /* Center the image within the element */
 // }

 // .grid-recipe img {
 //   height: inherit;
 //   width: 100%;
 //   left: 50%;
 //   position: relative;
 //   transform: translateX(-50%);
 // }



.grid-recipe img {
  padding: 0;
  margin: 0;
  height: inherit;
  width: inherit;
}

.recipe-container .ng-scope  {
     height: inherit;
}

.recipe-container .body-dashboard-group-grid-tile-footer {
  height: 25% ;
}

.inner {
    height: initial !important;
    font-weight: 400;
    font-size: 48px;
 }


.green {
  background: rgb(129, 199, 132);
}

.blue {
  background: #60b4f9;
}

.yellow {
  background: #ffb840;
}

.lightblue {
  background: #a4ffeb;
}

.grey {
  background: #cfd8dc;
}

.orange {
  background: #ffab8e;
}
