<div layout="column" class="recipe-container" ng-controller="RecipePageController as RecipePage"  ng-cloak>
   <md-content>
      <md-toolbar>
         <div class="md-toolbar-tools">
            <h2>
               <span class="recipetitle">{{RecipePage.recipe.title}}</span>
            </h2>
            <span flex></span>
            <span>Difficulty</span>
            <ng-md-icon icon="storm"></ng-md-icon>
            <ng-md-icon icon="storm"></ng-md-icon>
            <ng-md-icon icon="storm"></ng-md-icon>
         </div>
      </md-toolbar>
   </md-content>
   <md-content class="md-padding" layout="column">
      <md-grid-list md-cols-sm="2" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="32px" md-gutter-gt-sm="8px">
         <md-grid-tile class="grid-recipe"
         md-rowspan="2" md-colspan="2" ng-if="RecipePage.recipe.pictures[0].thumbnail_url != null">
            <img ng-src="{{RecipePage.recipe.pictures[0].thumbnail_url}}" alt="{{RecipePage.recipe.pictures[0].title}}">
         </md-grid-tile>


         <md-grid-tile class="grid-recipe" ng-if="RecipePage.recipe.pictures[1].thumbnail_url != null">
           <img ng-src="{{RecipePage.recipe.pictures[1].thumbnail_url}}" alt="{{RecipePage.recipe.pictures[1].title}}">
         </md-grid-tile>
         <md-grid-tile class="grid-recipe" ng-if="RecipePage.recipe.pictures[2].thumbnail_url != null">
           <img ng-src="{{RecipePage.recipe.pictures[2].thumbnail_url}}" alt="{{RecipePage.recipe.pictures[2].title}}">
         </md-grid-tile>
         <md-grid-tile class="blue">
           <div class="inner" >
             13
           <!-- {{RecipePage.recipe.date_posted}} -->
         </div>
            <md-grid-tile-footer class="body-dashboard-group-grid-tile-footer">
               Date
            </md-grid-tile-footer>
         </md-grid-tile>
         <md-grid-tile class="grey">
           <div class="inner" >
           {{RecipePage.recipe.time_preparation}}
         </div>
            <md-grid-tile-footer class="body-dashboard-group-grid-tile-footer">
               Time
            </md-grid-tile-footer>
         </md-grid-tile>
         <md-grid-tile class="lightblue">
           <div class="inner" >
           {{RecipePage.recipe.average_price}}
         </div>
            <md-grid-tile-footer class="body-dashboard-group-grid-tile-footer">
              Price
            </md-grid-tile-footer>
         </md-grid-tile>

         <md-grid-tile class="green">
           <div class="inner" >
             {{RecipePage.recipe.number_vote}}
           </div>
            <md-grid-tile-footer class="body-dashboard-group-grid-tile-footer">
              Vote
            </md-grid-tile-footer>
         </md-grid-tile>

         <md-grid-tile class="orange" md-rowspan="1" md-colspan="2">
           <div class="inner">
           {{RecipePage.recipe.average_score}}
         </div>
            <md-grid-tile-footer class="body-dashboard-group-grid-tile-footer">
              Score
            </md-grid-tile-footer>
         </md-grid-tile>



      </md-grid-list>
      <h2 class="md-title">Ingredients</h2>
      <md-list>
         <md-list-item class="md-2-line recipe-option" ng-repeat="ing in RecipePage.recipe.ingredients"
            layout-wrap >
            <div class="md-item-text md-whiteframe-z1 recipe-text" flex>
                <div ng-click="RecipePage.goToIngredientPage(ing._id);">
               <h3>{{ing.name}}</h3>
               <p>{{ing.amount}}</p>
             </div>
            </div>
         </md-list-item>
      </md-list>
      <h2 class="md-title">Description</h2>
      <span ng-bind-html="RecipePage.recipe.description"></span>
   </md-content>
   <md-button class="md-primary md-fab md-fab-bottom-right">
      +
   </md-button>
</div>
