

<div layout="column" ng-cloak>
  <md-content>
    <md-toolbar>
         <div class="md-toolbar-tools">
           <!-- <md-button aria-label="Go Back">
             Go Back
           </md-button> -->
           <h2>
             <span>Big Top Cake</span>
           </h2>
           <span flex></span>
           <span>Difficulty</span>
           <ng-md-icon icon="storm"></ng-md-icon>
           <ng-md-icon icon="storm"></ng-md-icon>
           <ng-md-icon icon="storm"></ng-md-icon>
         </div>
       </md-toolbar>
  </md-content>
  <md-content class="md-padding" layout="column">
    <h2 class="md-title">Ingredients</h2>
    <md-chips>
      <md-chip>3 x 370g packets moist chocolate cake</md-chip>
      <md-chip>6 eggs</md-chip>
      <md-chip>60g butter</md-chip>
      <md-chip>60g butter</md-chip>
      <md-chip>2 x 160g packets strawberry-flavoured sour straps</md-chip>
      <md-chip>2 x 250g packets Jaffas</md-chip>
      <md-chip>Decorative flag</md-chip>
    </md-chips>
  </md-content>
  <md-button class="md-primary md-fab md-fab-bottom-right">
      +
  </md-button>
</div>
