md-content(style="background-image : url('assets/images/homepage_bg/bg.png'); height: 100%;")#backround-homepage.flex
	div(layout="column" flex layout-align="center center").show-gt-sm
		div.homepage
			h1 Share you taste for food
			h2 Welcome to Nourriture !
			p.
				Free. Open Source. Powerful. Nourriture is a community social network sharing with
				osmosis your favorite ingredients to bring you the tastiest recipes.
			h2 Begin your journey now !
			md-button.begin-journey-button.md-fab.md-primary
				ng-md-icon.icon-menu(icon="keyboard_alt", size="48")