#background-homepage {
  background-position: right;
  background-repeat: no-repeat;
}

.homepage {
  text-align: center;
  margin: 0 10px;
  min-height : 50%;
}

.begin-journey-button {
  height : 60px !important;
  width : 60px !important;
}