md-content
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Create a Recipe
				div(flex).body-create-Recipe-md
					div.body-create-Recipe-md
						form(name="createRecipeForm" novalidate ng-submit="createRecipeForm.$valid && createRecipe.submit()")
							section(layout="row", layout-align="start start")
								div.body-create-Recipe
									div
										img(ngf-src="createRecipe.file[0] || '{{ createRecipe.defaultThumbSrc }}'" ngf-select ng-model="createRecipe.file[0]" name="file" ngf-pattern="'image/*'"
	    							accept="image/*" ngf-max-size="20MB" ngf-min-height="100" 
	    							ngf-resize="{width: 300, height: 300}").body-create-Recipe-thumbnail-picture
								section(layout="column", layout-align="start start", layout-fill)
									div(layout="row", layout-align="space-between center", layout-fill, style="width:100%;")
										md-input-container(flex="30")
											label Title
											input(ng-model="title" name="title" required maxlength="40" minlength="3")
											div(ng-messages="createRecipeForm.title.$error" ng-if='!createRecipeForm.title.$pristine')
												div(ng-message="required") This is required.
												div(ng-message="minlength") The title must be longer than 3 characters.
												div(ng-message="md-maxlength") The title must be shorter than 40 characters.
										span(flex="40")
										div.flex
											strong Difficulty :
												ng-md-icon(icon="storm", ng-class="{'body-create-Recipe-icon-notselected' : createRecipe.difficulty < 1 || !createRecipe.isHoverDifficulty[1] || !createRecipe.isHoverDifficulty[2], 'body-create-Recipe-icon-selected' : createRecipe.difficulty >= 1 || createRecipe.isHoverDifficulty[1] || createRecipe.isHoverDifficulty[2]}", ng-click="createRecipe.difficulty = 1")
												ng-md-icon(icon="storm", ng-class="{'body-create-Recipe-icon-notselected' : createRecipe.difficulty < 2 || !createRecipe.isHoverDifficulty[2], 'body-create-Recipe-icon-selected' : createRecipe.difficulty >= 2 || createRecipe.isHoverDifficulty[2]}", ng-mouseenter="createRecipe.stateIsHoverDifficulty(1, true);", ng-mouseleave="createRecipe.stateIsHoverDifficulty(1, false);" , ng-click="createRecipe.difficulty = 2")
												ng-md-icon(icon="storm", ng-class="{'body-create-Recipe-icon-notselected' : createRecipe.difficulty < 3, 'body-create-Recipe-icon-selected' : createRecipe.difficulty == 3}", ng-mouseenter="createRecipe.stateIsHoverDifficulty(2, true);", ng-mouseleave="createRecipe.stateIsHoverDifficulty(2, false);" , ng-click="createRecipe.difficulty = 3")
									
									div(layout="row", layout-align="start start")
											md-input-container(flex="70")
												label Time (in mins)
												input(type="number" ng-model="time" name="time" min="0")
												div(ng-messages="createRecipeForm.time.$error" ng-if='!createRecipeForm.time.$pristine')
													div(ng-message="required") This is required.
													div(ng-message="number") It must be a valid number.
													div(ng-message="min") Value must be superior to 0.
									div
										strong Price :
											ng-md-icon(icon="coin", ng-class="{'body-create-Recipe-icon-notselected' : createRecipe.price < 1 || !createRecipe.isHoverPrice[1] || !createRecipe.isHoverPrice[2], 'body-create-Recipe-icon-selected' : createRecipe.price >= 1 || createRecipe.isHoverPrice[1] || createRecipe.isHoverPrice[2]}", ng-click="createRecipe.price = 1")
											ng-md-icon(icon="coin", ng-class="{'body-create-Recipe-icon-notselected' : createRecipe.price < 2 || !createRecipe.isHoverPrice[2], 'body-create-Recipe-icon-selected' : createRecipe.price >= 2 || createRecipe.isHoverPrice[2]}", ng-mouseenter="createRecipe.stateIsHoverPrice(1, true);", ng-mouseleave="createRecipe.stateIsHoverPrice(1, false);" , ng-click="createRecipe.price = 2")
											ng-md-icon(icon="coin", ng-class="{'body-create-Recipe-icon-notselected' : createRecipe.price < 3, 'body-create-Recipe-icon-selected' : createRecipe.price == 3}", ng-mouseenter="createRecipe.stateIsHoverPrice(2, true);", ng-mouseleave="createRecipe.stateIsHoverPrice(2, false);" , ng-click="createRecipe.price = 3")
							div.body-create-Recipe-table
								section(layout="column", layout-align="start center")
									strong.body-create-Recipe-textangular Ingredients
								md-data-table-toolbar.body-create-Recipe-toolbar-table
									ng-md-icon(icon="add_circle_outline", style="cursor: pointer; width: 36px; height: 36px;", size="36", ng-click="createRecipe.AddIngredientDialog(createRecipe.getCurrentBurrito(), $event)")
									ng-md-icon(icon="delete", style="cursor: pointer; width: 36px; height: 36px;", size="36", ng-click="createRecipe.deleteIngredients();")
								md-data-table-container.flex
									table(md-data-table md-row-select="createRecipe.selected_ingredients")
										thead(md-order="null" md-trigger="createRecipe.tableOnOrderChange")
											tr
												th(name="Name")
												th(name="Amount" unit="g" numeric)
												th(name="Calories" unit="Kcal" numeric)
												th(name="Proteins" unit="g" numeric)
												th(name="Carbs" unit="g" numeric)
												th(name="Fats" unit="g" numeric)
										tbody
											tr(ng-repeat="ingredient in createRecipe.ingredients" style="cursor: pointer;" ng-click='ingredientDashboard.infosIngredientDialog($event, ingredient)')
												td {{ ingredient.name }}
												td {{ ingredient.amount }}
												td {{ ingredient.calories }}
												td {{ ingredient.proteins }}
												td {{ ingredient.carbohydrates }}
												td {{ ingredient.fat }}
										tfoot
											tr
												td
													strong Total :	
												td 
													strong {{ createRecipe.recapAmount("amount") }}
												td
													strong {{ createRecipe.recapAmount("calories") }}
												td
													strong {{ createRecipe.recapAmount("proteins") }}
												td
													strong {{ createRecipe.recapAmount("carbohydrates") }}
												td
													strong {{ createRecipe.recapAmount("fat") }}		
							section(layout="column", layout-align="start center")
								strong.body-create-Recipe-textangular Pictures
							md-grid-list(md-cols-gt-md="4", md-cols-md='2', md-cols-sm='1', md-gutter='4px', md-row-height='1:1')
								md-grid-tile
									md-container(style="min-width: 300px")
										img(ngf-src="createRecipe.file[1] || '{{ createRecipe.defaultThumbSrc }}'" ngf-select ng-model="createRecipe.file[1]" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 300, height: 300}").body-create-Recipe-thumbnail-picture
								md-grid-tile
									md-container(style="min-width: 300px")
										img(ngf-src="createRecipe.file[2] || '{{ createRecipe.defaultThumbSrc }}'" ngf-select ng-model="createRecipe.file[2]" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 300, height: 300}").body-create-Recipe-thumbnail-picture
								md-grid-tile
									md-container(style="min-width: 300px")
										img(ngf-src="createRecipe.file[3] || '{{ createRecipe.defaultThumbSrc }}'" ngf-select ng-model="createRecipe.file[3]" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 300, height: 300}").body-create-Recipe-thumbnail-picture
								md-grid-tile
									md-container(style="min-width: 300px")
										img(ngf-src="createRecipe.file[4] || '{{ createRecipe.defaultThumbSrc }}'" ngf-select ng-model="createRecipe.file[4]" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100"  ngf-resize="{width: 300, height: 300}").body-create-Recipe-thumbnail-picture
							section(layout="column", layout-align="start center")
								strong.body-create-Recipe-textangular Description
							div.body-create-Recipe-textangular-body
								text-angular(name="description" ng-model="createRecipe.description" ta-toolbar-class="body-create-Recipe-textangular-header" ta-toolbar-group-class="body-create-Recipe-textangular-button-group").flex
							section(layout="column", layout-align="start center")
								md-button(style="margin: 20px; auto auto auto").md-raised Create the recipe
		include ../footer/footer.jade

