@import "../../theme.scss";

.body-create-Recipe-md {
	margin : 20px auto;
	background : $background;
	width : 100%;
}

.body-create-Recipe {
	background : $background;
	margin : auto 20px;
}

.body-create-Recipe-name {
	max-width : 200px;
}

.body-create-Recipe-properties {
	max-width : 150px;
}

.body-create-Recipe-chips-body {
	height : auto;
}

md-checkbox.md-checked.remember-me-login .md-icon {
 background-color:  $borderBlock;
}

.body-create-Recipe-thumbnail-picture {
	background: white;
	height : 300px;
	width : 300px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.body-create-Recipe-icon-notselected {
	fill : black;
	opacity: 0.1;
	cursor : pointer;
	&:hover {
		opacity : 1;
	}
}

.body-create-Recipe-icon-selected {
	fill : black;
	opacity : 1;
}