md-content
	md-toolbar.md-hue-1
		h3(style="text-align: center;") {{ ingredientPage.ingredient.name }}
	md-list.ng-cloak.body-dashboard-ingredient-list
		section(layout="column", layout-align="center center", layout-margin)
			md-list-item
				h3 Description
			md-list-item
				span(style="text-align: center;") {{ ingredientPage.ingredient.description }}
			md-divider
	md-list.ng-cloak.body-dashboard-ingredient-list
		md-divider
		md-list-item
			span
				ng-md-icon(icon="calories")
			h4 Calories
			span.md-secondary {{ ingredientPage.ingredient.calories }} Kcal/100g
		md-divider
		md-list-item
			span
				ng-md-icon(icon="storm")
			h4 Proteins
			span.md-secondary {{ ingredientPage.ingredient.proteins }} g
		md-divider
		md-list-item
			span
				ng-md-icon(icon="carbohydrates")
			h4 Carbohydrates
			span.md-secondary {{ ingredientPage.ingredient.carbohydrates }} g
		md-divider
		md-list-item
			span
				ng-md-icon(icon="fat")
			h4 Fat
			span.md-secondary {{ ingredientPage.ingredient.fat }} g
		md-divider
		md-list-item
			span
				ng-md-icon(icon="label")
			span Tags
			span(ng-if="!ingredientPage.ingredient.tags[0]")
				span(style="color:grey;").md-secondary No tags
			md-chips(ng-if="ingredientPage.ingredient.tags[0]" ng-repeat="tag in ingredientPage.ingredient.tags")
				md-chip {{ tag.name }}
		