md-dialog
	md-dialog-content
		div(layout="column" flex layout-align="start center")
			h2 Add new Tag
			md-content.body-create-ingredient
			form(name="createTagForm" novalidate ng-submit="createTagForm.$valid && createTag.submit()")
				md-input-container.body-create-ingredient-name
					ng-md-icon(icon="name").body-register-container-md
					input(placeholder="Name" required name="name" ng-model="createTag.name" maxlength="20" minlength="3").body-register-container-md
					div(ng-messages="createTagForm.name.$error" ng-if='!createTagForm.name.$pristine')
						div(ng-message="required") This is required.
						div(ng-message="minlength") The name must be longer than 3 characters.
						div(ng-message="md-maxlength") The name must be shorter than 20 characters.
				md-input-container
					label Description
					textarea(columns="1" required name="description" ng-model="createTag.description" maxlength="200" minlength="3")
					div(ng-messages="createTagForm.description.$error" ng-if='!createTagForm.description.$pristine')
						div(ng-message="required") This is required.
						div(ng-message="minlength") The description must be longer than 3 characters.
						div(ng-message="md-maxlength") The description must be shorter than 200 characters.
				md-input-container.body-create-ingredient-name
					ng-md-icon(icon="name").body-register-container-md
					input(placeholder="Flag Name" required name="flag.name" ng-model="createTag.flag.name" maxlength="20" minlength="3").body-register-container-md
					div(ng-messages="createTagForm.flag.name.$error" ng-if='!createTagForm.flag.name.$pristine')
						div(ng-message="required") This is required.
						div(ng-message="minlength") The name must be longer than 3 characters.
						div(ng-message="md-maxlength") The name must be shorter than 20 characters.
				md-input-container.body-create-ingredient-properties
					input(placeholder="Flag Level" required type="number" name="flag.level" ng-model="createTag.flag.level" min='0' maxlength="2").body-register-container-md
					div(ng-messages="createTagForm.flag.level.$error" ng-if='!createTagForm.flag.level.$pristine')
						div(ng-message="required") This is required.
						div(ng-message="number") It must be a valid number.
						div(ng-message="min") Value must be superior to 0.
				md-button.md-raised(type="submit") Create Tag