@import "../../theme.scss";

.body-dashboard-Recipe-md {
	@extend .body-create-ingredient-md;
}

.body-dashboard-recipe {
	@extend .body-create-ingredient;
	width:100%;
}

.body-dashboard-Recipe-list {
	background : white;
}

.body-dashboard-recipe-md-content {
	height : 100%;
	background: $background;
	md-grid-list {
		height: 600px;
	}
}

.body-dashboard-Recipe-table-toolbars {
	background : #66bb6a;
}

.body-dashboard-recipe-grid-tile {
	cursor: pointer;
	background : white;
	overflow : hidden;
	max-height: 300px;
	&:hover {
		md-grid-tile-footer {
			transition: all 500ms ease-out 100ms;
			height : 100%;
			background : rgba(0, 0, 0, 0.66) none repeat scroll 0% 0%;
		}
	}
	md-grid-tile-footer {
		transition: all 500ms ease-out 100ms;
	}
}

.body-dashboard-recipe-grid-tile-footer {
	height : 25%;
	h2 {
		text-align: center;
	}
	figcaption {
		margin: 0 auto;
	}
}
