md-content.body-dashboard-recipe
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Recipes Dashboard
				div.body-dashboard-recipe.flex
					section(layout="column", layout-align="start center", layout-margin)
						md-content.body-dashboard-recipe
							md-toolbar.flex
								section(layout="row", layout-align="start start")
									div(style="max-width:200px;").hide-gt-sm
										form(ng-submit="recipesDashboard.searchRecipes();")
											md-input-container.flex
												label Search a Recipe
												input(ng-model="search" name="search")
									form(ng-submit="recipesDashboard.searchRecipes();").flex.hide-sm
										md-input-container(flex="50")
											label Search a Recipe
											input(ng-model="search" name="search")
									ng-md-icon(type="submit" icon="search" style="cursor: pointer;" ng-click="recipesDashboard.searchRecipes();")
							md-content.body-dashboard-recipe-md-content.flex.ng-cloak
								md-grid-list(md-cols-gt-md="6", md-cols-md='3', md-cols-sm='2', md-gutter='12px', md-row-height='1:1')
									md-grid-tile.body-dashboard-recipe-grid-tile(ng-mouseenter="recipe.mouseEnter = true" ng-mouseleave="recipe.mouseEnter = false" ng-repeat="recipe in recipesDashboard.recipes")
										figure
											img(ng-src="assets/images/recipesdummy/no_image.png" width="100%" height="100%")
										md-grid-tile-footer.body-dashboard-recipe-grid-tile-footer
											span(ng-if="!recipe.mouseEnter").show-on-enter
												h2 {{ recipe.title  | limitTo: 12 }}
											span(ng-if="recipe.mouseEnter").show-on-enter
												h2 {{ recipe.title }}
												p(style="text-align: center;") Author : {{ recipe.author_name }}
												p(style="text-align: center")
													span {{ recipe.average_score }}
													ng-md-icon(icon="star")
													span ({{ recipe.number_vote }})

		include ../footer/footer.jade
