@import "../../theme.scss";

.body-dashboard-Recipe-md {
	@extend .body-create-ingredient-md;
}

.body-dashboard-recipe {
	@extend .body-create-ingredient;
	width:100%;
}

.body-dashboard-Recipe-list {
	background : white;
}

.body-dashboard-recipe-md-content {
	height : 100%;
}

.body-dashboard-Recipe-table-toolbars {
	background : #66bb6a;
}

.body-dashboard-recipe-grid-tile {
	background : green;
}

.body-dashboard-recipe-grid-tile-footer {
	height : 36px;
}