md-content
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Recipes Dashboard
				div.flex
					md-button(ui-sref="main.create-recipe").md-raised Add a new Recipes
include ../footer/footer.jade
