md-content.body-dashboard-recipe
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Recipes Dashboard
				div.body-dashboard-recipe.flex
					section(layout="column", layout-align="start center", layout-margin)
						md-content.body-dashboard-recipe
							md-toolbar.flex
								section(layout="row", layout-align="start start")
									div(style="max-width:200px;").hide-gt-sm
										form(ng-submit="")
											md-input-container.flex
												label Search a Recipe
												input(ng-model="search" name="search")
									form(ng-submit="").flex.hide-sm
										md-input-container(flex="50")
											label Search a Recipe
											input(ng-model="search" name="search")
									ng-md-icon(type="submit" icon="search" style="cursor: pointer;" ng-click="")
							md-content.flex.body-dashboard-recipe-md-content
								md-grid-list(md-cols-gt-md="6", md-cols-md='4', md-cols-sm='1', md-gutter='12px', md-row-height='1:1').flex
									md-grid-tile.body-dashboard-recipe-grid-tile
										img(src="assets/images/homepage_bg/bg.png")
										ng-md-icon(icon="flag")
										md-grid-tile-footer.body-dashboard-recipe-grid-tile-footer
											h3 Hey
		include ../footer/footer.jade
