md-content
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Receipes Dashboard
					
				div.flex
					md-button(ui-sref="main.create-receipe").md-raised Add a new Receipe
				
		include ../footer/footer.jade
