div.flex
	md-sidenav.menu-sidenav.md-sidenav-left(md-component-id='left')
		div.md-button-style
			ng-md-icon(icon="{{ sidenav.menuIconIn }}",
					ng-mouseover='sidenav.menuIconIn = "arrow_back"',
					ng-mouseleave='sidenav.menuIconIn = "menu"',
					ng-click='sidenav.leftMenuToggle()')
		md-content.logo-sidenav
			img(src="assets/images/logo/nourriture.svg")
		span(ng-if="main.authenticated()")
			include ./mini-profile.jade
		md-content.item-sidenav
			div(ng-repeat="item in sidenav.sidenavItems.unrestricted" class="menu-button-link")
				md-button(ui-sref="{{ item.reference }}" style="overflow: initial;" ).
							<span class="item_text">{{ item.name }}</span>
							<span class="item_icon"><ng-md-icon icon="{{ item.icon }}"></ng-md-icon></span>
			div(ng-if="!main.authenticated()")
				div(ng-repeat="item in sidenav.sidenavItems.anonymous")
					md-button(ui-sref="{{ item.reference }}" style="overflow: initial;"). 
								<span class="item_text">{{ item.name }}</span>
								<span class="item_icon"><ng-md-icon icon="{{ item.icon }}"></ng-md-icon></span>
			div(ng-if="main.authenticated()")
				div(ng-repeat="item in sidenav.sidenavItems.restricted")
					md-button(ui-sref="{{ item.reference }}" style="overflow: initial;"). 
								<span class="item_text">{{ item.name }}</span>
								<span class="item_icon"><ng-md-icon icon="{{ item.icon }}"></ng-md-icon></span>