md-content
	div(layout="column" flex layout-align="start center").show-gt-sm
		div(flex="none").title-register-container 
			span.title-register-md Join the Nourriture community today !
		div.flex
			md-input-container
				label Username
				input
			md-input-container
				label Email
				input
			md-input-container
				label Repeat the Email
				input
			md-input-container
				label Password
				input