.title-register-container {
	background : $headings;
	width : 100%;
	text-align : center;
}

.title-register-md {
	font-size : 3em;
	font-family : "Dancing Script";
	text-align : center;
}

.body-register-md {
	margin : 20px auto;
	background : $background;
}

.body-register-container-md {
	display : inline-block;
}