body {
    word-break: break-all;
    background-color: #ECECEC;
}

.t-center {
    text-align: center;
}

img {
    background-color: transparent;
}

.box {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: white;
    border: 1px solid transparent;
    border-radius: 2px;
    border-color: seagreen;
    padding: 10px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}