.show-on-enter.ng-enter {
  -webkit-animation:0.6s show;
  animation:0.6s show;
}

.show-more.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
/*
.show-on-enter.ng-leave {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}
*/
.show-more.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}

@keyframes show {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
