$primary-color: #333;
$background: #ECECEC;
$buttonsLinksNormalState: #2EE8E7;
$buttonsLinksSelectedState: #1CFFB0;
$headings: #0EE853;
$borderBlock: #2E8B57;
$backgroundBlock: #FFFFFF;
$wildcardColor: #24BCFF;
$boxShadowButton: #888;

// Setup the function in your functions or helpers files, wherever you keep these bits.
@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}';
  } @else {
    @return 'h#{$from},' + headings($from+1, $to);
  }
}
