$primary-color: #333;
$background: #ECECEC;
$buttonsLinksNormalState: #2EE8E7;
$buttonsLinksSelectedState: #1CFFB0;
$headings: #0EE853;
$dark-headings: #013220;
$borderBlock: #2E8B57;
$backgroundBlock: #FFFFFF;
$wildcardColor: #24BCFF;
$footerColor: #616161;
$boxShadowButton: #888;

// Setup the function in your functions or helpers files, wherever you keep these bits.
@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}';
  } @else {
    @return 'h#{$from},' + headings($from+1, $to);
  }
}



/*
md-tabs {
  display: flex;
  flex-direction: column;
}
.md-tabs-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.md-tab-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
*/

