//
   Created by sylflo on 11/6/15.

// Username Done
// Role Badge possessed Done
// Description Done
// number ingredition liked and the last like Done
// number ingredition disliked and the last dislike D0ne
// number of allery and the last one Done
// number of follower Done
// number of persons follow or the last one
// number group joined and the last one
//Number recipes like
// Number recipes posted


// number liked recipes by other users


div(layout="column" layout-align="center center" layout-fill)
    md-content(flex)
        h1.t-center Informations
        md-list(flex)
          md-list-item.md-3-line.md-no-proxy
            .md-list-item-text
              p <span class='bold'>Username:</span> Sylflo
            md-divider
        //md-list(flex)
          md-list-item.md-3-line.md-no-proxy
            .md-list-item-text
              p <span class='bold'>:</span> Sylflo
            md-divider
        md-list(flex)
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Username:</span> Sylflo
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p.
                        <span class='bold'>Description: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                         et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                           dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Badges:</span>
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Ingredients liked:</span>  potatoes, mushrooms, tomatoes, <a href='#'>and 42 more...</a>
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Ingredients disliked:</span>  potatoes, mushrooms, tomatoes, <a href='#'>more...</a>
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Allergies:</span>  potatoes, mushrooms, tomatoes, <a href='#'>more...</a>
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Followers:</span> 40,  Antoine, Eric, Jean, Gertrude <a href='#'>more...</a>
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Following:</span> 40,  Antoine, Eric, Jean, Gertrude <a href='#'>more...</a>
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Groups:</span> Vegan, Carnivore, Musulman <a href='#'>more...</a>
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Recipes posted:</span> Vegan, Carnivore, Musulman <a href='#'>more...</a>
                md-divider
            md-list-item.md-3-line.md-no-proxy
                .md-list-item-text
                    p <span class='bold'>Recipes liked:</span> Vegan, Carnivore, Musulman <a href='#'>more...</a>
                md-divider

