//
   Created by sylflo on 11/6/15.
//Picture Password Email

div(layout="column" layout-align="center center" layout-fill ng-controller="parametersUserProfileController as parametersUserProfile")
  md-content
    h1 Parameters
    md-content.md-padding
      div()
        form(name='contactForm', ng-submit='parametersUserProfile.updateProfile()')

          md-input-container
            label Email
            input(type='email' ng-model='parametersUserProfile.data.email' required)

          md-input-container
            label Confirm Email
            input(type='email' ng-model='parametersUserProfile.data.confirmEmail' required)

          md-input-container
            label Password
            input(type='password' ng-model='parametersUserProfile.data.password' required)

          md-input-container
            label Confirm Password
            input(type='password' ng-model='parametersUserProfile.data.confirmPassword' required)

          md-input-container
            label Description:
            textarea(ng-model='parametersUserProfile.data.description')

           md-radio-group(ng-model='parametersUserProfile.data.gender' required)
            md-radio-button(value='man') Man
            md-radio-button(value='woman') Woman
            md-radio-button(value='other') Other

          //md-input-container(flex='')
            label Email:
            input(type='email', ng-model='contactEmail', required='')
          //md-input-container
            label Message:
            textarea(ng-model='contactMsg', columns='1', md-maxlength='150', required='')
          md-button.md-primary(type='submit') Send


