//
   Created by sylflo on 11/6/15.
//Picture Password Email

div(layout="column" layout-align="center center" layout-fill ng-controller="parametersUserProfileController as parametersUserProfile")
  md-content
    h1 Parameters
    md-content.md-padding
      div()
        form(name='updateUserForm' novalidate ng-submit='updateUserForm.$valid && parametersUserProfile.updateProfile()')

          div(ng-controller='ParametersIngredientsLikedUserProfileController as parametersIngredientsLikedUserProfile')
            md-chips(md-allow-repeats="false", ng-model="parametersIngredientsLikedUserProfile.names_ingredient", md-on-remove='parametersIngredientsLikedUserProfile.deleteChips($chip, $index)', md-autocomplete-snap="", md-require-match="true", secondary-placeholder="+Tag", md-on-append="parametersIngredientsLikedUserProfile.transformChip($chip)").flex
              md-autocomplete(md-selected-item-change="parametersIngredientsLikedUserProfile.selectedItemChangeChip" md-selected-item="parametersIngredientsLikedUserProfile.selectedItemChip", md-search-text="parametersIngredientsLikedUserProfile.searchTextChip", md-items="name in parametersIngredientsLikedUserProfile.getNameIngredients(parametersIngredientsLikedUserProfile.searchTextChip)", md-item-text="name.name", placeholder="Ingredient you like")
                span(md-highlight-text="parametersIngredientsLikedUserProfile.searchTextChip") {{ name.name }}
              md-chip-template
                span( ng-click="parametersIngredientsLikedUserProfile.infosIngredientDialog($event, $chip)")
                  strong {{ $chip }}


          div(ng-controller='ParametersIngredientsDislikedUserProfileController as parametersIngredientsLikedUserProfile')
            md-chips(md-allow-repeats="false", ng-model="parametersIngredientsLikedUserProfile.names_ingredient", md-on-remove='parametersIngredientsLikedUserProfile.deleteChips($chip, $index)', md-autocomplete-snap="", md-require-match="true", secondary-placeholder="+Tag", md-on-append="parametersIngredientsLikedUserProfile.transformChip($chip)").flex
              md-autocomplete(md-selected-item-change="parametersIngredientsLikedUserProfile.selectedItemChangeChip" md-selected-item="parametersIngredientsLikedUserProfile.selectedItemChip", md-search-text="parametersIngredientsLikedUserProfile.searchTextChip", md-items="name in parametersIngredientsLikedUserProfile.getNameIngredients(parametersIngredientsLikedUserProfile.searchTextChip)", md-item-text="name.name", placeholder="Ingredient you dislike")
                span(md-highlight-text="parametersIngredientsLikedUserProfile.searchTextChip") {{ name.name }}
              md-chip-template
                span( ng-click="parametersIngredientsLikedUserProfile.infosIngredientDialog($event, $chip)")
                  strong {{ $chip }}


          div(ng-controller='ParametersIngredientsAllergiesUserProfileController as parametersIngredientsLikedUserProfile')
            md-chips(md-allow-repeats="false", ng-model="parametersIngredientsLikedUserProfile.names_ingredient", md-on-remove='parametersIngredientsLikedUserProfile.deleteChips($chip, $index)', md-autocomplete-snap="", md-require-match="true", secondary-placeholder="+Tag", md-on-append="parametersIngredientsLikedUserProfile.transformChip($chip)").flex
              md-autocomplete(md-selected-item-change="parametersIngredientsLikedUserProfile.selectedItemChangeChip" md-selected-item="parametersIngredientsLikedUserProfile.selectedItemChip", md-search-text="parametersIngredientsLikedUserProfile.searchTextChip", md-items="name in parametersIngredientsLikedUserProfile.getNameIngredients(parametersIngredientsLikedUserProfile.searchTextChip)", md-item-text="name.name", placeholder="Your allergies")
                span(md-highlight-text="parametersIngredientsLikedUserProfile.searchTextChip") {{ name.name }}
              md-chip-template
                span( ng-click="parametersIngredientsLikedUserProfile.infosIngredientDialog($event, $chip)")
                  strong {{ $chip }}

          md-input-container.md-block
            label Email
            input(minlength="8" maxlength="100" type='email' name='email' ng-model='parametersUserProfile.data.email' ng-pattern="/^.+@.+\..+$/")
            div(ng-messages="updateUserForm.email.$error" ng-if='!registerForm.email.$pristine')
              div(ng-message="minlength") The email must be longer than 8 characters.
              div(ng-message="maxlength") The email must be shorter than 100 characters
              div(ng-message='pattern') You must enter a valid email address

          md-input-container.md-block
            label Confirm Email
            input(minlength="8" maxlength="100"  type='email' name='confirmEmail' ng-model='parametersUserProfile.data.confirmEmail' ng-pattern="/^.+@.+\..+$/" match="parametersUserProfile.data.email")
            div(ng-messages="updateUserForm.confirmEmail.$error" ng-if='!registerForm.email.$pristine')
              div(ng-message="minlength") The email must be longer than 8 characters.
              div(ng-message="maxlength") The email must be shorter than 100 characters.
              div(ng-message='pattern') You must enter a valid email address
              div(ng-message="match") Emails must match.

          md-input-container.md-block
            label Password
            input(type='password' name='password' ng-model='parametersUserProfile.data.password' minlength="3" md-maxlength="100")
            div(ng-messages="updateUserForm.password.$error" ng-if='!registerForm.email.$pristine')
              div(ng-message="minlength") The password must be longer than 3 characters.
              div(ng-message="md-maxlength") The password must be shorter than 100 characters.

          md-input-container
            label Confirm Password
            input(name='confirmPassword' type='password' ng-model='parametersUserProfile.data.confirmPassword' minlength="3" md-maxlength="100" match="parametersUserProfile.data.password")
            div(ng-messages="updateUserForm.confirmPassword.$error" ng-if='!registerForm.email.$pristine')
              div(ng-message="minlength") The password must be longer than 3 characters.
              div(ng-message="md-maxlength") The password must be shorter than 100 characters.
              div(ng-message="match") Password must match.

          md-input-container.md-block
            label Description
            input(name="description" ng-model='parametersUserProfile.data.description' md-maxlength="10000")
            div(ng-messages="updateUserForm.description.$error")
              div(ng-message="md-maxlength") The description must be shorter than 10000 characters.

          md-radio-group(ng-model='parametersUserProfile.data.gender' required)
            md-radio-button(value='man') Man
            md-radio-button(value='woman') Woman
            md-radio-button(value='other') Other
          md-button.md-primary(type='submit') Send


