<div ng-controller="RecipesUserProfileController as RecipesUserProfile"  ng-cloak>
  <md-content layout="row" layout-wrap>
        <md-card flex data-ng-repeat="recipe in RecipesUserProfile.recipes">
          <img ng-src="{{recipe.image}}" class="md-card-image" alt="Tarte aux pommes">
          <md-card-content>
            <h2 class="md-title">{{recipe.recipetitle}}</h2>
            {{$index}}
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>view more</md-button>
          </md-card-actions>
          <!-- <div data-ng-show="$index > 2 && ($index % 3) == 0">
              </md-card>
              </md-content>
              <md-content layout="row" layout-wrap>
              <md-card
          </div> -->
        </md-card>

        <br>
  </md-content>

</div>
