div(ng-controller="SidenavController as sidenav")
	section(layout='row', flex)
		md-sidenav.menu-sidenav.md-sidenav-left(md-component-id='left')
			md-content.logo-sidenav
				img(src="assets/images/logo/nourriture.svg")
			md-content.item-sidenav
				md-button One
		ng-md-icon(icon="{{ sidenav.menuIcon }}",
					ng-mouseover='sidenav.menuIcon = "arrow_forward"',
					ng-mouseleave='sidenav.menuIcon = "menu"',
					ng-click='sidenav.openLeftMenu()')
