div(ng-controller="SidenavController as sidenav")
	section(layout='row', flex)
		md-sidenav.md-sidenav-left(md-component-id='left') Left Nav!
			md-content One
			md-content Two
		ng-md-icon(icon="{{ sidenav.menuIcon }}",
					ng-mouseover='sidenav.menuIcon = "arrow_back"',
					ng-mouseleave='sidenav.menuIcon = "menu"',
					ng-click='sidenav.openLeftMenu()')
