@import "../theme";

html, body {
  height: 100%;
  width: 100%;
  background: $borderBlock;
}

.layout-column, .ng-scope {
  height: 100%;
}

#{headings(1,6)} {
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}



