div(ng-controller="SidenavController as sidenav")
	section(layout='row', flex)
		md-sidenav.md-sidenav-left(md-component-id='left') Left Nav!
			md-content One
			md-content Two
		ng-md-icon(icon="menu", ng-click='sidenav.openLeftMenu()')
