div(ng-controller="SidenavController as sidenav")
	section(layout='row', flex)
		include ../templates/menu/menu.jade
	section(layout="row").layout-fill
		include ../templates/menu/toolbar.jade
		div(flex layout="column")
			div.ui-view.scope-child