md-content
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Sign-in
				div(flex).body-login-md
					form(name="createIngredientForm" novalidate ng-submit="createIngredientForm.$valid && login.submit()")
						section(layout="column", layout-align="start center", layout-margin)
							md-content.body-create-ingredient
								md-input-container
									ng-md-icon(icon="name").body-register-container-md
									input(placeholder="Name" required name="name" ng-model="name" maxlength="20" minlength="3").body-register-container-md
									div(ng-messages="createIngredientForm.name.$error" ng-if='!createIngredientForm.name.$pristine')
										div(ng-message="required") This is required.
										div(ng-message="minlength") The name must be longer than 3 characters.
										div(ng-message="md-maxlength") The name must be shorter than 20 characters.
								md-input-container
									label Description
									textarea(columns="1" required name="Description" ng-model="description" maxlength="200" minlength="3")
									div(ng-messages="createIngredientForm.description.$error" ng-if='!createIngredientForm.description.$pristine')
										div(ng-message="required") This is required.
										div(ng-message="minlength") The name must be longer than 3 characters.
										div(ng-message="md-maxlength") The name must be shorter than 20 characters.
								section(layout="column", layout-align="start center", layout-margin)
									md-input-container
										ng-md-icon(icon="name").body-register-container-md
										input(placeholder="Name" required name="name" ng-model="name" maxlength="20" minlength="3").body-register-container-md
										div(ng-messages="createIngredientForm.name.$error" ng-if='!createIngredientForm.name.$pristine')
											div(ng-message="required") This is required.
											div(ng-message="minlength") The name must be longer than 3 characters.
											div(ng-message="md-maxlength") The name must be shorter than 20 characters.
									md-input-container
										ng-md-icon(icon="name").body-register-container-md
										input(placeholder="Name" required name="name" ng-model="name" maxlength="20" minlength="3").body-register-container-md
										div(ng-messages="createIngredientForm.name.$error" ng-if='!createIngredientForm.name.$pristine')
											div(ng-message="required") This is required.
											div(ng-message="minlength") The name must be longer than 3 characters.
											div(ng-message="md-maxlength") The name must be shorter than 20 characters.
									md-input-container
										ng-md-icon(icon="name").body-register-container-md
										input(placeholder="Name" required name="name" ng-model="name" maxlength="20" minlength="3").body-register-container-md
										div(ng-messages="createIngredientForm.name.$error" ng-if='!createIngredientForm.name.$pristine')
											div(ng-message="required") This is required.
											div(ng-message="minlength") The name must be longer than 3 characters.
											div(ng-message="md-maxlength") The name must be shorter than 20 characters.
								md-button.md-raised Create Ingredient
		include ../footer/footer.jade