md-content
	div(layout="column", layout-fill).flex
		div.flex
			div(layout="column" flex layout-align="start center")
				div(flex="none").title-register-container 
					span.title-register-md Add an ingredient
				div(flex).body-create-ingredient-md
						section(layout="row", layout-align="start end", layout-margin)
							span.flex
							span(flex="none")
								md-button(ui-sref="main.ingredients-dashboard").flat
									ng-md-icon(icon="navigate_before")
									span Go back
						section(layout="column", layout-align="start center", layout-margin)
							md-content.body-create-ingredient
								form(name="createIngredientForm" novalidate ng-submit="createIngredientForm.$valid && createIngredient.submit()")
									md-input-container.body-create-ingredient-name
										ng-md-icon(icon="name").body-register-container-md
										input(placeholder="Name" required name="name" ng-model="name" maxlength="20" minlength="3").body-register-container-md
										div(ng-messages="createIngredientForm.name.$error" ng-if='!createIngredientForm.name.$pristine')
											div(ng-message="required") This is required.
											div(ng-message="minlength") The name must be longer than 3 characters.
											div(ng-message="md-maxlength") The name must be shorter than 20 characters.
									md-input-container
										label Description
										textarea(columns="1" required name="description" ng-model="description" maxlength="200" minlength="3")
										div(ng-messages="createIngredientForm.description.$error" ng-if='!createIngredientForm.description.$pristine')
											div(ng-message="required") This is required.
											div(ng-message="minlength") The description must be longer than 3 characters.
											div(ng-message="md-maxlength") The description must be shorter than 200 characters.
									div(layout="row", layout-align="start center", layout-margin)
										md-input-container.body-create-ingredient-properties
											ng-md-icon(icon="fat").body-register-container-md
											input(placeholder="Fat" required type="number" name="fat" ng-model="fat" min='0' maxlength="5").body-register-container-md
											div(ng-messages="createIngredientForm.fat.$error" ng-if='!createIngredientForm.fat.$pristine')
												div(ng-message="required") This is required.
												div(ng-message="number") It must be a valid number.
												div(ng-message="min") Value must be superior to 0.
										md-input-container.body-create-ingredient-properties
											ng-md-icon(icon="storm").body-register-container-md
											input(placeholder="Proteins" required type="number" name="proteins" ng-model="proteins" min='0').body-register-container-md
											div(ng-messages="createIngredientForm.proteins.$error" ng-if='!createIngredientForm.proteins.$pristine')
												div(ng-message="required") This is required.
												div(ng-message="number") It must be a valid number.
												div(ng-message="min") Value must be superior to 0.
										md-input-container.body-create-ingredient-properties
											ng-md-icon(icon="carbohydrates").body-register-container-md
											input(placeholder="Carbs" required type="number" name="carbohydrates" ng-model="carbohydrates" min='0').body-register-container-md
											div(ng-messages="createIngredientForm.carbohydrates.$error" ng-if='!createIngredientForm.carbohydrates.$pristine')
												div(ng-message="required") This is required.
												div(ng-message="number") It must be a valid number.
												div(ng-message="min") Value must be superior to 0.
									div(layout="column", layout-align="center center", layout-margin)
										md-button.md-raised Create Ingredient
		include ../footer/footer.jade